*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.projectstitle{
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin-top: 7rem;
  margin-bottom: 5px;
}

.projectsdiv{
  margin: 3.5rem 0px;
  width: 100vw;
  max-width: 82rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project{
  width: 18rem;
  height: 28.5rem;
  border-radius: 1rem;
  background-color: inherit;
  box-shadow: 0 4px 18px rgba(232, 232, 232, 0.5);
  border: 0.5px solid rgb(100,0,100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.project p{
  font-size: 21.5px;
  font-weight: bolder;
}

.projectpic img{
  width: 12.1rem;
  height: 12.1rem;
  object-fit: cover;
  overflow: hidden;
}

.projectbtns{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.projectbtns .btns:first-child{
  background: #583c88;
  color: white;
}

.projectbtns .btns{
  width: 6rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  letter-spacing: 0.033rem;
}

.projectbtns .btns:hover{
  background: linear-gradient(to right,purple,#7848cc);;
  color: white;
}

img.notepad{
  object-fit: contain;
}

img.e_comm{
  width: 11.8rem;
  height: 11.8rem;
  border-radius: 10px;
}

.projectname{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.electronics{
  padding-left: 2rem;
}

.ambulance{
  padding-left: 1.7rem;
  padding-right: 1.2rem;
}