*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbarmenu{
  background-color: rgb(30, 30, 30);
  height: 5.6rem;
  width: 100vw;
  max-width: 82rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.desktopmenu{
  width: 42vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: white; */
}

.desktopmenulistitem{
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  font-weight: 500;
}

.desktopmenulistitem:hover{
  background-color: white;
  color: black;
}

.logo{
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  object-fit: cover;
  background-color: white;
}

.desktopmenuimg{
  width: 2rem;
  background-color: black;
  height: 1.5rem;
  object-fit: cover;
  margin-right: 2px;
}

.desktopmenubtn{
  background-color: white;
  border: none;
  padding: 0.2rem 0.9rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  height: 3rem;
  cursor: pointer;
}