*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbarmenu{
  background: linear-gradient(to right ,rgb(19, 19, 19),rgb(24, 0, 41));
  height: 5.6rem;
  width: 100vw;
  max-width: 82rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 3;
}

.desktopmenu{
  width: 42vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desktopmenulistitem{
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  font-weight: 500;
}

.desktopmenulistitem:hover{
  color: #7a50c2;
}

.logo{
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  object-fit: cover;
  filter: invert(1);
}

.p_logo{
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 0.4rem;
  width: 8.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktopmenuimg{
  width: 2rem;
  background-color: black;
  height: 1.5rem;
  object-fit: cover;
  margin-right: 3px;
  border-radius: 15px;
}

.desktopmenubtn{
  background-color: rgb(255, 255, 255);
  color: black;
  border: 3px solid #7848cc;
  padding: 0.2rem 0.65rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: bold;
  height: 3rem;
  cursor: pointer;
  letter-spacing: 0.03rem;
}

.desktopmenubtn:hover{
  background: linear-gradient(to right,purple,#7848cc);
  color:white;
  border: 3px solid black;
}